<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /coedsystem/
RewriteBase /heavyplay/

RewriteRule ^about/$ about.php    [NC,L]
RewriteRule ^login/$ my-account.php    [NC,L]
RewriteRule ^shop/$ shop.php    [NC,L]
RewriteRule ^contact/$ contact.php    [NC,L]


RewriteRule ^signin/$ signin.php    [NC,L]
RewriteRule ^administrator/participant/$ administrator/participant.php    [NC,L]
RewriteRule ^administrator/participant-all/$ administrator/participant-all.php    [NC,L]
RewriteRule ^administrator/useraccount/$ administrator/useraccount.php    [NC,L]
RewriteRule ^administrator/userinfo/$ administrator/userinfo.php    [NC,L]
RewriteRule ^administrator/updateinfo/$ administrator/updateinfo.php    [NC,L]
RewriteRule ^administrator/adduser/$ administrator/adduser.php    [NC,L]
RewriteRule ^administrator/changepassword/$ administrator/changepassword.php    [NC,L]
RewriteRule ^administrator/applicationinfo/$ administrator/application-info.php    [NC,L]
RewriteRule ^administrator/applicationinfo-all/$ administrator/application-info-all.php    [NC,L]
RewriteRule ^administrator/applicationinfo/$ administrator/application-into.php    [NC,L]

RewriteRule ^staff/participant/$ staff/participant.php    [NC,L]
RewriteRule ^staff/participant-all/$ staff/participant-all.php    [NC,L]
RewriteRule ^staff/useraccount/$ staff/useraccount.php    [NC,L]
RewriteRule ^staff/userinfo/$ staff/userinfo.php    [NC,L]
RewriteRule ^staff/updateinfo/$ staff/updateinfo.php    [NC,L]
RewriteRule ^staff/adduser/$ staff/adduser.php    [NC,L]
RewriteRule ^staff/changepassword/$ staff/changepassword.php    [NC,L]
RewriteRule ^staff/applicationinfo/$ staff/application-info.php    [NC,L]
RewriteRule ^staff/applicationinfo-all/$ staff/application-info-all.php    [NC,L]
RewriteRule ^staff/applicationinfo/$ staff/application-into.php    [NC,L]

RewriteRule ^officer/participant/$ officer/participant.php    [NC,L]
RewriteRule ^officer/participant-all/$ officer/participant-all.php    [NC,L]
RewriteRule ^officer/useraccount/$ officer/useraccount.php    [NC,L]
RewriteRule ^officer/userinfo/$ officer/userinfo.php    [NC,L]
RewriteRule ^officer/updateinfo/$ officer/updateinfo.php    [NC,L]
RewriteRule ^officer/adduser/$ officer/adduser.php    [NC,L]
RewriteRule ^officer/changepassword/$ officer/changepassword.php    [NC,L]
RewriteRule ^officer/applicationinfo/$ officer/application-info.php    [NC,L]
RewriteRule ^officer/applicationinfo-all/$ officer/application-info-all.php    [NC,L]
RewriteRule ^officer/applicationinfo/$ officer/application-into.php    [NC,L]

RewriteRule ^student/question/$ student/question.php    [NC,L]
RewriteRule ^student/application/$ student/applicationform.php    [NC,L]
RewriteRule ^student/changepassword/$ student/changepassword.php    [NC,L]


#RewriteRule ^([a-zA-Z0-9]+)/$ signin.php
#RewriteRule ^([a-zA-Z0-9]+)/^([a-zA-Z0-9]+)/$ participant.php
</IfModule>
